<a href="{{ path(path_name) }}">
    <div class="card">
        <div class="card-body">
            <div class="card-title d-flex align-items-start justify-content-between">

            </div>
            <h3 class="card-title mb-2">{{ title }}</h3>
        </div>
    </div>
</a>