{% extends 'base.html.twig' %}

{% block title %}RS Portfolio{% endblock %}

{% block body %}
<turbo-frame id="main_turbo" data-turbo-action="advance" data-turbo-frame="_self">
    <section id="hero">
        <div class="hero-container">
            <a href="index.html" class="hero-logo aos-init aos-animate" data-aos="zoom-in">
                <img src="{{ asset("build/img/logo/logo.avif") }}" alt="">
            </a>
            <h1 data-aos="zoom-in" class="aos-init aos-animate">Portfolio</h1>
        
            <h2 data-aos="fade-up" class="aos-init aos-animate">
                <p>
                    list of all needed links, tech stacks, documentations and repositories<br/>
                    This page could be browsed with different frameworks
                </p>
            </h2>
            <div class="row">
                <a data-aos="fade-up" data-aos-delay="200" href="{{ path("ux_index") }}" class="btn-get-started aos-init aos-animate col-md-auto">Symfony UX</a>
                <a data-aos="fade-up" data-aos-delay="200" href="{{ path("react_index") }}" class="btn-get-started aos-init aos-animate col-md-auto">ReactJS 18</a>
            </div>
        </div>
    </section>
</turbo-frame>
{% endblock %}