{% extends 'ux.html.twig' %}
{% block title %} Symfony UX {% endblock %}

{% block body %}
    <main id="main">
        <turbo-frame id="main">
            <!-- ======= Breadcrumbs ======= -->
            <section class="breadcrumbs">
                <div class="container">

                    <div class="d-flex justify-content-between align-items-center">
                        <h2>Portfolio</h2>
                        <ol>
                            <li><a href="{{ path("ux_index") }}">Home</a></li>
                            <li>Portfolio</li>
                        </ol>
                    </div>

                </div>
            </section><!-- End Breadcrumbs -->

            <!-- ======= Langs list Section ======= -->
            <section id="about" class="about">
                <div class="container">

                    <div class="section-title">
                        <h2>Tech stacks</h2>
                    </div>

                    <div class="row">
                        <div class="col-lg-4" data-aos="fade-right">
                            <a href="{{ path('ux_golang') }}">
                            <div class="image text-center">
                                <img src="{{ asset("build/img/langs/go.png") }}" class="img-fluid" alt="">
                            </div>
                            </a>
                        </div>
                        <div class="col-lg-4" data-aos="fade-down">
                            <div class="image">
                                <img src="{{ asset("build/img/langs/php.png") }}" class="img-fluid" alt="">
                            </div>
                        </div>
                        <div class="col-lg-4" data-aos="fade-left">
                            <div class="image">
                                <img src="https://digitalzoomstudio.net/wp-content/uploads/2013/01/best-javascript1.jpg"
                                     class="img-fluid" alt="">
                            </div>
                        </div>
                    </div>

                </div>
            </section><!-- End About Us Section -->
        </turbo-frame>
    </main><!-- End #main -->{% endblock %}